		/*Background*/
		body {
			background-image: url('../images/DIO2.webp');
			background-repeat: no-repeat;
			background-size: cover;
			}
			
		/*Nav bar above*/
		nav {
			background-color: yellow;
			width: 100%;
			position: sticky;
			top: 0px;
			padding: 1px;
			}
			
		nav ul { /*unlisted*/
 			margin-left: 40px;
 			list-style: none;
			padding: 2px;				 
			}

		nav li { /*listed*/
  			display: inline-block;
  			position: relative;
			margin: 20px;
			}		

		nav a { /*link*/
  			color: #03045E;
 			text-decoration: none;
  			text-transform: uppercase;
  			font-size: 18px;
			}
			
		img.DIO1 {
			width: 400px;
			height: 400px;
			box-shadow: 2px 2px 2px yellow;
			float: left;
			margin-right: 100%;
			margin: 5px;
			
		}
		img.DIO2 {
			width: 400px;
			height: 400px;
			float: right;
			margin-left: 100%;
			box-shadow: 2px 2px 2px yellow;
			margin: 5px;
		}
		img.DIO3 {
			width: 400px;
			height: 400px;
			float: left;
			box-shadow: 2px 2px 2px yellow;
			margin: 5px;
		}
		
		#images {
			background: linear-gradient(200deg, yellow 0%, black 50%, purple 80%);
			width: 600px;
			height: 1250px;
			margin: auto;
			padding: 10px;
			box-shadow: 5px 5px 5px black;
		}
		#Dio1 {
			display: block;
			float: left;
			width: 225px;
			height: 225px;
			position: absolute;
			margin-left: 550px;
			margin-top: 130px;
		}
		#Dio2 {
			display: block;
			float: right;
			width: 225px;
			height: 225px;
			position: absolute;
			margin-left: 800px;
			margin-top: 500px;
		}
		#Dio3 {
			display: block;
			float: left;
			width: 225px;
			height: 225px;
			position: absolute;
			margin-left: 540px;
			margin-top: 1000px;
		}
		#KonoDioDa {
			position: absolute;
			top: 350px;
			left: 500px;
			display: none;
			
		}
		#WRY {
			position: absolute;
			top: 750px;
			left: 700px;
			display: none;
		}
		#ZaWarudo {
			position: absolute;
			top: 1150px;
			left: 500px;
			display: none;
		}
		#Speech {
			font-family: 'Playfair Display SC', serif;
			height: 100px;
			width: 300px;
			background-color: yellow;
			border: 2px solid orange;
			padding: 20px;
			text-align: center;
			font-size: 24px;
		}
		